
body {
    font-size: 16px;
    color: white;
    background-color: black;
    font-family: monospace;
    text-align: center;
    /* Resets the margin so browser css is ignored - Makes navigation bar tight to screen*/
    margin: 0;
    height: auto;
}

h1 {
    padding-left: 5%;
    padding-right: 5%;
}

p {
   padding-left: 20%;
   padding-right: 20%;
}

a {
    font-size: 16px;
    color: cyan;
}

ul {
    text-align:left;
    display: inline-block;

}
/* Navigation bar styles*/
/* Add a black background color to the nav bar*/
.navbar {
    background-color: rgb(20,20,20);
    overflow: hidden;
    margin: 0;
    padding: 0;
}
    /* Style the links inside the nav bar*/
    .navbar a {
        font-family: monospace;
        float: left;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        .navbar a:hover {
            background-color: rgb(128, 128, 128);
            color: white;
        }

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/*Makes videos stay 16:9 at different resolutions*/
.outer {
    margin: auto;
    max-width: 640px;
    max-height: 360px;
    width: 100%;
    height: 100%;
}

.inner {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 52.5%;
}

    .inner iframe {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
/*End Makes videos stay 16:9 at different resolutions*/

